html, body {
    background-color: #F9D6CA;
}

/* Section */
#card_slide { 
    position: absolute;
    bottom: 50px;
    width: 100%;
    background-color: #7FA4DC;
}

#title {
    margin-bottom: 25px; 
    color: black;
}

/* Carousel */
#myCarousel{
    border: 1px; 
    height: auto; 
}

.carousel-item {
    top: 10px;
    bottom: 50px
}

.carousel-inner{
    height: 75vh; 
    align-self: center;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

h1 {
    text-align: center;
}
